h1{
    text-align: center;
}
#contenedor{
    position: relative;
    width: 600px;
    height: 600px;
    border: 1px solid #444;
    margin: 0 auto 0 auto;
    
}
.hijo1{
    position: absolute;
    bottom: 25%;
    right: 25%;
    top: 25%;
    left: 25%;
    width: 100px;
    height: 100px;
    background-color: blue;
    float: left;
}
.hijo2{
    position: absolute;
    bottom: 25%;
    right: 25%;
    top: 25%;
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    float: right;



}
.hijo3{
    position: absolute;
    float: right;
    background-color: black;
    bottom: 150px;
    left: 150px;
    
}
.hijo4{
    position: absolute;
    background-color: crimson;
    float: right;
    bottom:150px;
    right: 150px;
}
.hijo3,.hijo4{
    width: 100px;
    height: 100px;
  


}